*{
  padding: 0px;
  margin: 0px;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  background-color: #1464c6;

}

.header{

  background-color: #5ea3e0;
  font-weight: 500;
  color: #d7dfe4;
  height: 20rem;
}

.header ul li{
  padding: 10px;
  margin: 20px;
  list-style: none;
}

.header ul li button{
  cursor: pointer;
}

.header ul li:hover{
  border-bottom: 1.5px solid white;
  box-sizing: border-box;  
}

.header ul li:first-child {
  margin-left: 32px;
}

.header ul {
  display: flex;
  position: absolute;
  bottom: 38.4rem;
}
h1{
  color: #d7dfe4;
  padding: 2rem;
  font-size: 2rem;
}
.main{
  color: #d7dfe4;
  background-color: #1464c6;
  height: 39.6rem;
}

.main p{
  margin-left: 32px;
}
button{
  background-color: #5ea3e0;
  color: #d7dfe4;

  border: none;
}



